In [244]:

import pandas as pd
import io

df = pd.read_csv("/Users/dhui/Downloads/pipes.csv")
pd.options.display.max_columns = None

In [245]:
#Change all unknown permit to false
df['permit'].replace(['Unknown'],'False')

0        False
1         True
2         True
3         True
4         True
         ...
59395     True
59396     True
59397    False
59398     True
59399     True
Name: permit, Length: 59400, dtype: object

In [185]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [246]:
#Only want to cluster on a few of these
sdf = df.drop(columns=['amount_tsh','date_recorded','longitude','latitude','recorded_by','construction_year','status_group','extraction_type_group','extraction_type_class','management_group','payment_type','quantity_group','source_type','source_class','waterpoint_type_group','num_private'])

def get_col_names(sdf):
  n_features = sdf.shape[1]

  cat_col_names = list(sdf.select_dtypes(include=np.object).columns)
  num_col_names = list(sdf.select_dtypes(include=np.number).columns)

  print('cat_col_names: {}'.format(cat_col_names))
  print('num_col_names: {}'.format(num_col_names))
  return cat_col_names,num_col_names

cat_col_names,num_col_names = get_col_names(part_1)

good_columns = cat_col_names + num_col_names
sdf = sdf[good_columns]

for x in cat_col_names:
    sdf[x].fillna('other',inplace=True)
    sdf[x]=sdf[x].astype(str)
    

for y in num_col_names:
    sdf[y].fillna(0,inplace=True)

cat_col_names: ['funder', 'installer', 'wpt_name', 'basin', 'subvillage', 'region', 'lga', 'ward', 'public_meeting', 'scheme_management', 'scheme_name', 'permit', 'extraction_type', 'management', 'payment', 'water_quality', 'quality_group', 'quantity', 'source', 'waterpoint_type']
num_col_names: ['id', 'gps_height', 'region_code', 'district_code', 'population']

In [206]:
part_1 = sdf.sample(frac = 0.5, random_state=42)
part_2 = sdf.drop(part_1.index)

In [207]:
X1 = part_1.to_numpy()
X2 = part_2.to_numpy()

In [208]:
sdf

,funder,installer,wpt_name,basin,subvillage,region,lga,ward,public_meeting,scheme_management,scheme_name,permit,extraction_type,management,payment,water_quality,quality_group,quantity,source,waterpoint_type,id,gps_height,region_code,district_code,population
0,Roman,Roman,none,Lake Nyasa,Mnyusi B,Iringa,Ludewa,Mundindi,True,VWC,Roman,False,gravity,vwc,pay annually,soft,good,enough,spring,communal standpipe,69572,1390,11,5,109
1,Grumeti,GRUMETI,Zahanati,Lake Victoria,Nyamara,Mara,Serengeti,Natta,other,Other,other,True,gravity,wug,never pay,soft,good,insufficient,rainwater harvesting,communal standpipe,8776,1399,20,2,280
2,Lottery Club,World vision,Kwa Mahundi,Pangani,Majengo,Manyara,Simanjiro,Ngorika,True,VWC,Nyumba ya mungu pipe scheme,True,gravity,vwc,pay per bucket,soft,good,enough,dam,communal standpipe multiple,34310,686,21,4,250
3,Unicef,UNICEF,Zahanati Ya Nanyumbu,Ruvuma / Southern Coast,Mahakamani,Mtwara,Nanyumbu,Nanyumbu,True,VWC,other,True,submersible,vwc,never pay,soft,good,dry,machine dbh,communal standpipe multiple,67743,263,90,63,58
4,Action In A,Artisan,Shuleni,Lake Victoria,Kyanyamisa,Kagera,Karagwe,Nyakasimbi,True,other,other,True,gravity,other,never pay,soft,good,seasonal,rainwater harvesting,communal standpipe,19728,0,18,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59395,Germany Republi,CES,Area Three Namba 27,Pangani,Kiduruni,Kilimanjaro,Hai,Masama Magharibi,True,Water Board,Losaa Kia water supply,True,gravity,water board,pay per bucket,soft,good,enough,spring,communal standpipe,60739,1210,3,5,125
59396,Cefa-njombe,Cefa,Kwa Yahona Kuvala,Rufiji,Igumbilo,Iringa,Njombe,Ikondo,True,VWC,Ikondo electrical water sch,True,gravity,vwc,pay annually,soft,good,enough,river,communal standpipe,27263,1212,11,4,56
59397,other,other,Mashine,Rufiji,Madungulu,Mbeya,Mbarali,Chimala,True,VWC,other,False,swn 80,vwc,pay monthly,fluoride,fluoride,enough,machine dbh,hand pump,37057,0,12,7,0
59398,Malec,Musa,Mshoro,Rufiji,Mwinyi,Dodoma,Chamwino,Mvumi Makulu,True,VWC,other,True,nira/tanira,vwc,never pay,soft,good,insufficient,shallow well,hand pump,31282,0,1,4,0
59399,World Bank,World,Kwa Mzee Lugawa,Wami / Ruvu,Kikatanyemba,Morogoro,Morogoro Rural,Ngerengere,True,VWC,other,True,nira/tanira,vwc,pay when scheme fails,salty,salty,enough,shallow well,hand pump,26348,191,5,2,150

In [209]:
sdf.describe(include=[np.number]).transpose()

,count,mean,std,min,25%,50%,75%,max
id,59400.0,37115.131768,21453.128371,0.0,18519.75,37061.5,55656.50,74247.0
gps_height,59400.0,668.297239,693.116350,-90.0,0.00,369.0,1319.25,2770.0
region_code,59400.0,15.297003,17.587406,1.0,5.00,12.0,17.00,99.0
district_code,59400.0,5.629747,9.633649,0.0,2.00,3.0,5.00,80.0
population,59400.0,179.909983,471.482176,0.0,0.00,25.0,215.00,30500.0

In [210]:
sdf.describe(include=[np.object]).transpose()

                   count unique                     top   freq
funder             59400   1898  Government Of Tanzania   9084
installer          59400   2146                     DWE  17402
wpt_name           59400  37400                    none   3563
basin              59400      9           Lake Victoria  10248
subvillage         59400  19288                Madukani    508
region             59400     21                  Iringa   5294
lga                59400    125                  Njombe   2503
ward               59400   2092                   Igosi    307
public_meeting     59400      3                    True  51011
scheme_management  59400     13                     VWC  36793
scheme_name        59400   2697                   other  28166
permit             59400      3                    True  38852
extraction_type    59400     18                 gravity  26780
management         59400     12                     vwc  40507
payment            59400      7               never pay  25348
water_quality      59400      8                    soft  50818
quality_group      59400      6                    good  50818
quantity           59400      5                  enough  33186
source             59400     10                  spring  17021
waterpoint_type    59400      7      communal standpipe  28522

In [220]:
from sklearn.preprocessing import StandardScaler

def scale_values(sdf, num_col_names, cat_col_names):
  X_num = sdf[num_col_names].to_numpy()
  X_cat = sdf[cat_col_names].to_numpy()

  # Be sure to scale all numeric features
  scaler = StandardScaler()
  X_num = scaler.fit_transform(X_num)

  X = np.concatenate((X_num, X_cat), axis=1)
  return X

X1 = scale_values(part_1, num_col_names, cat_col_names)
X2 = scale_values(part_2, num_col_names, cat_col_names)
X3 = scale_values(sdf,num_col_names, cat_col_names)

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/sklearn/utils/validation.py:444: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  if not hasattr(spmatrix, "data"):

In [221]:
from scipy.spatial import distance


def _validate_vector(u, dtype=None):
    # XXX Is order='c' really necessary?
    u = np.asarray(u, dtype=dtype, order='c').squeeze()
    # Ensure values such as u=1 and u=[1] still return 1-D arrays.
    u = np.atleast_1d(u)
    if u.ndim > 1:
        raise ValueError("Input vector should be 1-D.")
    return u


def danny_dist(u, v, p=2, w=None):
  
  u = _validate_vector(u)
  v = _validate_vector(v)
  if p < 1:
      raise ValueError("p must be at least 1")
  print(u)
  print(v)
  u_v = u - v
  if w is not None:
      w = _validate_weights(w)
      if p == 1:
          root_w = w
      if p == 2:
          # better precision and speed
          root_w = np.sqrt(w)
      else:
          root_w = np.power(w, 1/p)
      u_v = root_w * u_v
  dist = norm(u_v, ord=p)
  return dist


def custom_dist(x1,x2,cat_cols=None,num_cols=None):
  n = len(x1)
  #print(num_cols)
  #dist_num = danny_dist(x1[num_cols],x2[num_cols])
  dist_num = distance.euclidean(x1[num_cols],x2[num_cols])
  dist_cat = distance.hamming(x1[cat_cols],x2[cat_cols])
  dist=(dist_num*sum(num_cols) + dist_cat*sum(cat_cols)) / n
  return dist

In [222]:
from scipy.spatial.distance import pdist


def discover_wrong_values(X):
  cat_cols = [type(x)==str for x in X[1,:]]
  num_cols = [not x for x in cat_cols]

  count=-1
  errors = []
  cat_value=[]
  cat_count=-1
  for y in cat_cols:
    if(y == True):
      cat_value.append(cat_count)
    cat_count+=1


  for x in num_cols:
    count+=1
    if(x == True):
      errors.append(count)
      #print (x, count)
  return errors,cat_value,cat_cols,num_cols

errors,cat_value,cat_cols,num_cols = discover_wrong_values(X3)

In [223]:
#print(sdf.head())
index_col = 0
list_cat_cols = []
for col in sdf.columns:
    print(col,index_col,sdf[col][0])
    list_cat_cols.append(index_col)
    #if(col not in num_col_names):
    #    list_cat_cols.append(index_col)
    index_col+=1
print(list_cat_cols)

funder 0 Roman
installer 1 Roman
wpt_name 2 none
basin 3 Lake Nyasa
subvillage 4 Mnyusi B
region 5 Iringa
lga 6 Ludewa
ward 7 Mundindi
public_meeting 8 True
scheme_management 9 VWC
scheme_name 10 Roman
permit 11 False
extraction_type 12 gravity
management 13 vwc
payment 14 pay annually
water_quality 15 soft
quality_group 16 good
quantity 17 enough
source 18 spring
waterpoint_type 19 communal standpipe
id 20 69572
gps_height 21 1390
region_code 22 11
district_code 23 5
population 24 109
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24]

In [224]:
X3[1]

array([-1.3209901057347844, 1.054237014282499, 0.2674093115724113,
       -0.37678123504164873, 0.21228980543631806, 'Grumeti', 'GRUMETI',
       'Zahanati', 'Lake Victoria', 'Nyamara', 'Mara', 'Serengeti',
       'Natta', 'other', 'Other', 'other', 'True', 'gravity', 'wug',
       'never pay', 'soft', 'good', 'insufficient',
       'rainwater harvesting', 'communal standpipe'], dtype=object)

In [ ]:
from kmodes.kprototypes import KPrototypes
kproto = KPrototypes(n_clusters=10, verbose=2, max_iter=20)
clusters = kproto.fit_predict(X3, categorical=[5,6, 7,8,9, 10, 11, 12,13, 14,15,16,17, 18, 19, 20, 21, 22, 23, 24])

Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 1, iteration: 1/20, moves: 25525, ncost: 412683.58070129657
Run: 1, iteration: 2/20, moves: 9392, ncost: 404234.2322067491
Run: 1, iteration: 3/20, moves: 5293, ncost: 401300.72202073986
Run: 1, iteration: 4/20, moves: 3826, ncost: 400283.3718099826
Run: 1, iteration: 5/20, moves: 1644, ncost: 399598.9771559368
Run: 1, iteration: 6/20, moves: 1935, ncost: 398837.9995693333
Run: 1, iteration: 7/20, moves: 2841, ncost: 396586.6832190175
Run: 1, iteration: 8/20, moves: 1644, ncost: 395912.009155591
Run: 1, iteration: 9/20, moves: 816, ncost: 395721.76420717756
Run: 1, iteration: 10/20, moves: 572, ncost: 395367.65309697745
Run: 1, iteration: 11/20, moves: 481, ncost: 395260.769097752
Run: 1, iteration: 12/20, moves: 262, ncost: 395212.6442459368
Run: 1, iteration: 13/20, moves: 202, ncost: 395182.980532159
Run: 1, iteration: 14/20, moves: 129, ncost: 395166.66532462114
Run: 1, iteration: 15/20, moves: 106, ncost: 395158.0361064295
Run: 1, iteration: 16/20, moves: 61, ncost: 395136.0197290178
Run: 1, iteration: 17/20, moves: 97, ncost: 395093.2957325571
Run: 1, iteration: 18/20, moves: 54, ncost: 395090.188252866
Run: 1, iteration: 19/20, moves: 42, ncost: 395087.85628850583
Run: 1, iteration: 20/20, moves: 26, ncost: 395087.24154774734
Run: 1, iteration: 21/20, moves: 21, ncost: 395086.6983942512
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 2, iteration: 1/20, moves: 24484, ncost: 416744.8030477918
Run: 2, iteration: 2/20, moves: 10031, ncost: 407242.8966391573
Run: 2, iteration: 3/20, moves: 4729, ncost: 403873.38549530925
Run: 2, iteration: 4/20, moves: 1993, ncost: 402819.2474321104
Run: 2, iteration: 5/20, moves: 770, ncost: 402736.1562105381
Run: 2, iteration: 6/20, moves: 414, ncost: 402682.27407416754
Run: 2, iteration: 7/20, moves: 292, ncost: 402510.86963543855
Run: 2, iteration: 8/20, moves: 142, ncost: 402485.5175673065
Run: 2, iteration: 9/20, moves: 80, ncost: 402481.41914917046
Run: 2, iteration: 10/20, moves: 41, ncost: 402480.622446646
Run: 2, iteration: 11/20, moves: 20, ncost: 402480.53262463945
Run: 2, iteration: 12/20, moves: 15, ncost: 402480.51771015086
Run: 2, iteration: 13/20, moves: 3, ncost: 402480.5162429915
Run: 2, iteration: 14/20, moves: 0, ncost: 402480.5162429915
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 3, iteration: 1/20, moves: 26925, ncost: 420435.88685838116
Run: 3, iteration: 2/20, moves: 11548, ncost: 408636.22149719525
Run: 3, iteration: 3/20, moves: 7249, ncost: 403795.77951437375
Run: 3, iteration: 4/20, moves: 3437, ncost: 402158.76802658685
Run: 3, iteration: 5/20, moves: 1966, ncost: 401621.9981105554
Run: 3, iteration: 6/20, moves: 1602, ncost: 401211.4581383389
Run: 3, iteration: 7/20, moves: 1377, ncost: 400757.93621365924
Run: 3, iteration: 8/20, moves: 1210, ncost: 400441.7468761768
Run: 3, iteration: 9/20, moves: 1243, ncost: 399773.82291015325
Run: 3, iteration: 10/20, moves: 1024, ncost: 399240.99438633723
Run: 3, iteration: 11/20, moves: 1691, ncost: 398642.49145740614
Run: 3, iteration: 12/20, moves: 1048, ncost: 398529.70339864556
Run: 3, iteration: 13/20, moves: 531, ncost: 398476.48963284405
Run: 3, iteration: 14/20, moves: 287, ncost: 398448.62536731997
Run: 3, iteration: 15/20, moves: 207, ncost: 398436.7985928523
Run: 3, iteration: 16/20, moves: 151, ncost: 398418.6075432876
Run: 3, iteration: 17/20, moves: 193, ncost: 398367.1875704079
Run: 3, iteration: 18/20, moves: 130, ncost: 398360.61196043174
Run: 3, iteration: 19/20, moves: 110, ncost: 398357.49872225174
Run: 3, iteration: 20/20, moves: 73, ncost: 398356.14017124596
Run: 3, iteration: 21/20, moves: 81, ncost: 398355.1968281677
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 4, iteration: 1/20, moves: 31185, ncost: 406741.6030003212
Run: 4, iteration: 2/20, moves: 8320, ncost: 403723.73378584185
Run: 4, iteration: 3/20, moves: 2618, ncost: 402456.12795632397
Run: 4, iteration: 4/20, moves: 1976, ncost: 402000.92124692805
Run: 4, iteration: 5/20, moves: 993, ncost: 401765.10766577005
Run: 4, iteration: 6/20, moves: 745, ncost: 401652.9703267622
Run: 4, iteration: 7/20, moves: 488, ncost: 401538.5109347315
Run: 4, iteration: 8/20, moves: 410, ncost: 401440.74503395264
Run: 4, iteration: 9/20, moves: 355, ncost: 401329.89971169067
Run: 4, iteration: 10/20, moves: 284, ncost: 401246.91171262565
Run: 4, iteration: 11/20, moves: 347, ncost: 401127.4066859573
Run: 4, iteration: 12/20, moves: 214, ncost: 401050.03712371923
Run: 4, iteration: 13/20, moves: 141, ncost: 401021.001143377
Run: 4, iteration: 14/20, moves: 116, ncost: 401008.9052814619
Run: 4, iteration: 15/20, moves: 73, ncost: 400998.2409298859
Run: 4, iteration: 16/20, moves: 63, ncost: 400989.93196370953
Run: 4, iteration: 17/20, moves: 15, ncost: 400989.8352054806
Run: 4, iteration: 18/20, moves: 6, ncost: 400989.7751204782
Run: 4, iteration: 19/20, moves: 8, ncost: 400989.7641564851
Run: 4, iteration: 20/20, moves: 2, ncost: 400989.76300792367
Run: 4, iteration: 21/20, moves: 0, ncost: 400989.76300792367
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 5, iteration: 1/20, moves: 15171, ncost: 411697.5432998085
Run: 5, iteration: 2/20, moves: 9733, ncost: 401759.8777656141
Run: 5, iteration: 3/20, moves: 4258, ncost: 400314.2752135116
Run: 5, iteration: 4/20, moves: 1680, ncost: 399785.3189305114
Run: 5, iteration: 5/20, moves: 697, ncost: 399747.0990911476
Run: 5, iteration: 6/20, moves: 702, ncost: 399587.9234651911
Run: 5, iteration: 7/20, moves: 439, ncost: 399556.3927348123
Run: 5, iteration: 8/20, moves: 235, ncost: 399509.41417380923
Run: 5, iteration: 9/20, moves: 132, ncost: 399503.37115185236
Run: 5, iteration: 10/20, moves: 94, ncost: 399500.5834384486
Run: 5, iteration: 11/20, moves: 84, ncost: 399499.588392516
Run: 5, iteration: 12/20, moves: 53, ncost: 399499.00222275243
Run: 5, iteration: 13/20, moves: 61, ncost: 399498.2420774319
Run: 5, iteration: 14/20, moves: 36, ncost: 399498.0712938834
Run: 5, iteration: 15/20, moves: 28, ncost: 399497.89908771263
Run: 5, iteration: 16/20, moves: 20, ncost: 399497.8602864451
Run: 5, iteration: 17/20, moves: 13, ncost: 399497.8397801893
Run: 5, iteration: 18/20, moves: 8, ncost: 399497.8323553924
Run: 5, iteration: 19/20, moves: 4, ncost: 399497.82763131824
Run: 5, iteration: 20/20, moves: 5, ncost: 399497.819674347
Run: 5, iteration: 21/20, moves: 5, ncost: 399497.81622402935
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 6, iteration: 1/20, moves: 15487, ncost: 408662.3541299046
Run: 6, iteration: 2/20, moves: 5949, ncost: 403405.0917672452
Run: 6, iteration: 3/20, moves: 2289, ncost: 402029.2525160585
Run: 6, iteration: 4/20, moves: 1838, ncost: 401277.5862712491
Run: 6, iteration: 5/20, moves: 812, ncost: 401131.5281081747
Run: 6, iteration: 6/20, moves: 738, ncost: 400754.1946897882
Run: 6, iteration: 7/20, moves: 928, ncost: 400381.44598087476
Run: 6, iteration: 8/20, moves: 1031, ncost: 400007.84247263474
Run: 6, iteration: 9/20, moves: 1122, ncost: 399294.67163331015
Run: 6, iteration: 10/20, moves: 1007, ncost: 398790.7214180192
Run: 6, iteration: 11/20, moves: 803, ncost: 398632.03278277774
Run: 6, iteration: 12/20, moves: 645, ncost: 398556.22951359
Run: 6, iteration: 13/20, moves: 524, ncost: 398515.7150377548
Run: 6, iteration: 14/20, moves: 358, ncost: 398492.3909147406
Run: 6, iteration: 15/20, moves: 315, ncost: 398432.3791485392
Run: 6, iteration: 16/20, moves: 261, ncost: 398420.3038942906
Run: 6, iteration: 17/20, moves: 185, ncost: 398415.28811192495
Run: 6, iteration: 18/20, moves: 146, ncost: 398405.5121826813
Run: 6, iteration: 19/20, moves: 337, ncost: 398266.9855647876
Run: 6, iteration: 20/20, moves: 712, ncost: 398222.50967795233
Run: 6, iteration: 21/20, moves: 549, ncost: 398143.2850532247
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 7, iteration: 1/20, moves: 30950, ncost: 403370.39163537265
Run: 7, iteration: 2/20, moves: 6657, ncost: 399843.8537598095

Run: 7, iteration: 3/20, moves: 3309, ncost: 399088.4077219636
Run: 7, iteration: 4/20, moves: 1627, ncost: 398706.6209298583
Run: 7, iteration: 5/20, moves: 720, ncost: 398550.74327970576
Run: 7, iteration: 6/20, moves: 175, ncost: 398546.68923686567
Run: 7, iteration: 7/20, moves: 65, ncost: 398542.4264875868
Run: 7, iteration: 8/20, moves: 19, ncost: 398541.70696322306
Run: 7, iteration: 9/20, moves: 11, ncost: 398541.6491752566
Run: 7, iteration: 10/20, moves: 0, ncost: 398541.6491752566
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 8, iteration: 1/20, moves: 25796, ncost: 406699.0860976251
Run: 8, iteration: 2/20, moves: 8248, ncost: 401752.5032020764
Run: 8, iteration: 3/20, moves: 3138, ncost: 400364.77829919144
Run: 8, iteration: 4/20, moves: 1617, ncost: 399742.00337709824
Run: 8, iteration: 5/20, moves: 1356, ncost: 399088.50095863454
Run: 8, iteration: 6/20, moves: 1146, ncost: 398812.95728087984
Run: 8, iteration: 7/20, moves: 722, ncost: 398708.41289854347
Run: 8, iteration: 8/20, moves: 458, ncost: 398609.7309962869
Run: 8, iteration: 9/20, moves: 451, ncost: 398441.8096986707
Run: 8, iteration: 10/20, moves: 394, ncost: 398333.1062850191
Run: 8, iteration: 11/20, moves: 303, ncost: 398277.6627387317
Run: 8, iteration: 12/20, moves: 222, ncost: 398244.368062901
Run: 8, iteration: 13/20, moves: 139, ncost: 398230.2903741085
Run: 8, iteration: 14/20, moves: 104, ncost: 398220.64608345815
Run: 8, iteration: 15/20, moves: 82, ncost: 398215.947539583
Run: 8, iteration: 16/20, moves: 53, ncost: 398214.106284173
Run: 8, iteration: 17/20, moves: 56, ncost: 398205.57700621977
Run: 8, iteration: 18/20, moves: 123, ncost: 398110.6156405198
Run: 8, iteration: 19/20, moves: 231, ncost: 398012.871818813
Run: 8, iteration: 20/20, moves: 108, ncost: 397999.91161932144
Run: 8, iteration: 21/20, moves: 50, ncost: 397997.0579801022
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 9, iteration: 1/20, moves: 22889, ncost: 411325.68078679283
Run: 9, iteration: 2/20, moves: 9505, ncost: 404345.3523184039
Run: 9, iteration: 3/20, moves: 4858, ncost: 401966.4184592552
Run: 9, iteration: 4/20, moves: 2646, ncost: 401436.83841342264
Run: 9, iteration: 5/20, moves: 1954, ncost: 399847.4730783741
Run: 9, iteration: 6/20, moves: 1795, ncost: 398674.3505460144
Run: 9, iteration: 7/20, moves: 1543, ncost: 396749.34224099986
Run: 9, iteration: 8/20, moves: 939, ncost: 396497.03905912314
Run: 9, iteration: 9/20, moves: 667, ncost: 396420.7084190848
Run: 9, iteration: 10/20, moves: 516, ncost: 396388.4387332691
Run: 9, iteration: 11/20, moves: 419, ncost: 396374.6517471752
Run: 9, iteration: 12/20, moves: 230, ncost: 396368.65373223653
Run: 9, iteration: 13/20, moves: 149, ncost: 396365.9640542799
Run: 9, iteration: 14/20, moves: 79, ncost: 396365.15349149494
Run: 9, iteration: 15/20, moves: 63, ncost: 396363.88862900797
Run: 9, iteration: 16/20, moves: 35, ncost: 396363.6454139063
Run: 9, iteration: 17/20, moves: 12, ncost: 396363.6316700264
Run: 9, iteration: 18/20, moves: 9, ncost: 396363.62329897436
Run: 9, iteration: 19/20, moves: 14, ncost: 396363.5896907131
Run: 9, iteration: 20/20, moves: 28, ncost: 396363.48798477784
Run: 9, iteration: 21/20, moves: 11, ncost: 396363.4806770797
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 10, iteration: 1/20, moves: 27611, ncost: 427229.0763592544
Run: 10, iteration: 2/20, moves: 8767, ncost: 419380.61181678384
Run: 10, iteration: 3/20, moves: 2932, ncost: 415508.8522661763
Run: 10, iteration: 4/20, moves: 2032, ncost: 413607.65776365873
Run: 10, iteration: 5/20, moves: 3558, ncost: 410527.7677696998
Run: 10, iteration: 6/20, moves: 2956, ncost: 409559.0504801852
Run: 10, iteration: 7/20, moves: 1984, ncost: 409091.14424417383
Run: 10, iteration: 8/20, moves: 1651, ncost: 408840.4259381672
Run: 10, iteration: 9/20, moves: 1905, ncost: 408331.1654506094
Run: 10, iteration: 10/20, moves: 1799, ncost: 407867.3474691875
Run: 10, iteration: 11/20, moves: 1912, ncost: 407559.1198727313
Run: 10, iteration: 12/20, moves: 1713, ncost: 407217.4059191547
Run: 10, iteration: 13/20, moves: 1557, ncost: 407065.35840730864
Run: 10, iteration: 14/20, moves: 1208, ncost: 406930.9621474152
Run: 10, iteration: 15/20, moves: 1242, ncost: 406679.3218512381
Run: 10, iteration: 16/20, moves: 937, ncost: 406655.0348214702
Run: 10, iteration: 17/20, moves: 374, ncost: 406645.57572053524
Run: 10, iteration: 18/20, moves: 295, ncost: 406640.73303910875
Run: 10, iteration: 19/20, moves: 243, ncost: 406637.73589802533
Run: 10, iteration: 20/20, moves: 175, ncost: 406636.06111813063
Run: 10, iteration: 21/20, moves: 125, ncost: 406635.40391402657
Best run was number 1

In [ ]:

#num_cols = [(not x and type(x) == int) for x in cat_cols]

#Need to remove the num columns that are causing issues
num_cols[13] = False
num_cols[15] = False
num_cols[16] = False
#print(num_cols)

#Y1 = pdist(X1, custom_dist, cat_cols=cat_cols, num_cols=num_cols)

In [ ]:
#Y2 = pdist(X2, custom_dist, cat_cols=cat_cols, num_cols=num_cols)

In [228]:
len(clusters)

59400

In [247]:
df['clusters']=clusters

In [265]:
def replace_with_min_year (df, cluster_count, cluster_colname):
  for i in range(cluster_count):
    current_cluster = df[df[cluster_colname] == i]
    current_cluster_with_construction_year = current_cluster[current_cluster['construction_year'] > 0]
    if len(current_cluster_with_construction_year) > 0:
      min_year = current_cluster_with_construction_year['construction_year'].min()
      df.loc[(df[cluster_colname] == i) & (df['construction_year'] == 0), 'construction_year'] = min_year
    else:
      print('no year in this cluster', i)
      #return 1


replace_with_min_year(df,10,'clusters')

In [242]:
df['construction_year'].describe()

count    59400.000000
mean      1300.652475
std        951.620547
min          0.000000
25%          0.000000
50%       1986.000000
75%       2004.000000
max       2013.000000
Name: construction_year, dtype: float64

In [267]:
df.to_csv('pipe_construct_years.csv', encoding='utf-8', index=False)

In [266]:
df.head()

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,basin,subvillage,region,region_code,district_code,lga,ward,population,public_meeting,recorded_by,scheme_management,scheme_name,permit,construction_year,extraction_type,extraction_type_group,extraction_type_class,management,management_group,payment,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group,status_group,clusters
0,69572,6000.0,2011-03-14,Roman,1390,Roman,34.938093,-9.856322,none,0,Lake Nyasa,Mnyusi B,Iringa,11,5,Ludewa,Mundindi,109,True,GeoData Consultants Ltd,VWC,Roman,False,1999,gravity,gravity,gravity,vwc,user-group,pay annually,annually,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe,functional,1
1,8776,0.0,2013-03-06,Grumeti,1399,GRUMETI,34.698766,-2.147466,Zahanati,0,Lake Victoria,Nyamara,Mara,20,2,Serengeti,Natta,280,NaN,GeoData Consultants Ltd,Other,NaN,True,2010,gravity,gravity,gravity,wug,user-group,never pay,never pay,soft,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe,functional,6
2,34310,25.0,2013-02-25,Lottery Club,686,World vision,37.460664,-3.821329,Kwa Mahundi,0,Pangani,Majengo,Manyara,21,4,Simanjiro,Ngorika,250,True,GeoData Consultants Ltd,VWC,Nyumba ya mungu pipe scheme,True,2009,gravity,gravity,gravity,vwc,user-group,pay per bucket,per bucket,soft,good,enough,enough,dam,dam,surface,communal standpipe multiple,communal standpipe,functional,6
3,67743,0.0,2013-01-28,Unicef,263,UNICEF,38.486161,-11.155298,Zahanati Ya Nanyumbu,0,Ruvuma / Southern Coast,Mahakamani,Mtwara,90,63,Nanyumbu,Nanyumbu,58,True,GeoData Consultants Ltd,VWC,NaN,True,1986,submersible,submersible,submersible,vwc,user-group,never pay,never pay,soft,good,dry,dry,machine dbh,borehole,groundwater,communal standpipe multiple,communal standpipe,non functional,3
4,19728,0.0,2011-07-13,Action In A,0,Artisan,31.130847,-1.825359,Shuleni,0,Lake Victoria,Kyanyamisa,Kagera,18,1,Karagwe,Nyakasimbi,0,True,GeoData Consultants Ltd,NaN,NaN,True,1960,gravity,gravity,gravity,other,other,never pay,never pay,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe,functional,0