In [9]:
!pip install pandas
!pip install numpy
import pandas as pd
import numpy as np  
import os

!pip install seaborn
import seaborn as sns

from pandas.api.types import CategoricalDtype
Train_label = pd.read_csv('Training set labels.csv')
Train_value = pd.read_csv('Training set values.csv')
Test_value = pd.read_csv('Test set values.csv')
Train = pd.merge(Train_value,Train_label, how='inner',left_on='id',right_on='id', left_index=False)

Requirement already satisfied: pandas in /srv/conda/envs/notebook/lib/python3.7/site-packages (1.3.0)
Requirement already satisfied: python-dateutil>=2.7.3 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from pandas) (2.8.1)
Requirement already satisfied: numpy>=1.17.3 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from pandas) (1.21.0)
Requirement already satisfied: pytz>=2017.3 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from pandas) (2021.1)
Requirement already satisfied: six>=1.5 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Requirement already satisfied: numpy in /srv/conda/envs/notebook/lib/python3.7/site-packages (1.21.0)
Requirement already satisfied: seaborn in /srv/conda/envs/notebook/lib/python3.7/site-packages (0.11.1)
Requirement already satisfied: numpy>=1.15 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from seaborn) (1.21.0)
Requirement already satisfied: matplotlib>=2.2 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from seaborn) (3.4.2)
Requirement already satisfied: scipy>=1.0 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from seaborn) (1.7.0)
Requirement already satisfied: pandas>=0.23 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from seaborn) (1.3.0)
Requirement already satisfied: pillow>=6.2.0 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from matplotlib>=2.2->seaborn) (8.3.1)
Requirement already satisfied: pyparsing>=2.2.1 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from matplotlib>=2.2->seaborn) (2.4.7)
Requirement already satisfied: cycler>=0.10 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from matplotlib>=2.2->seaborn) (0.10.0)
Requirement already satisfied: python-dateutil>=2.7 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from matplotlib>=2.2->seaborn) (2.8.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from matplotlib>=2.2->seaborn) (1.3.1)
Requirement already satisfied: six in /srv/conda/envs/notebook/lib/python3.7/site-packages (from cycler>=0.10->matplotlib>=2.2->seaborn) (1.15.0)
Requirement already satisfied: pytz>=2017.3 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from pandas>=0.23->seaborn) (2021.1)

In [15]:
Train.shape

(59400, 41)

In [16]:
Train.head()

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,...,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group,status_group
0,69572,6000.0,2011-03-14,Roman,1390,Roman,34.938093,-9.856322,none,0,...,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe,functional
1,8776,0.0,2013-03-06,Grumeti,1399,GRUMETI,34.698766,-2.147466,Zahanati,0,...,soft,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe,functional
2,34310,25.0,2013-02-25,Lottery Club,686,World vision,37.460664,-3.821329,Kwa Mahundi,0,...,soft,good,enough,enough,dam,dam,surface,communal standpipe multiple,communal standpipe,functional
3,67743,0.0,2013-01-28,Unicef,263,UNICEF,38.486161,-11.155298,Zahanati Ya Nanyumbu,0,...,soft,good,dry,dry,machine dbh,borehole,groundwater,communal standpipe multiple,communal standpipe,non functional
4,19728,0.0,2011-07-13,Action In A,0,Artisan,31.130847,-1.825359,Shuleni,0,...,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe,functional

In [17]:
Train.isnull().sum()

id                           0
amount_tsh                   0
date_recorded                0
funder                    3635
gps_height                   0
installer                 3655
longitude                    0
latitude                     0
wpt_name                     0
num_private                  0
basin                        0
subvillage                 371
region                       0
region_code                  0
district_code                0
lga                          0
ward                         0
population                   0
public_meeting            3334
recorded_by                  0
scheme_management         3877
scheme_name              28166
permit                    3056
construction_year            0
extraction_type              0
extraction_type_group        0
extraction_type_class        0
management                   0
management_group             0
payment                      0
payment_type                 0
water_quality                0
quality_group                0
quantity                     0
quantity_group               0
source                       0
source_type                  0
source_class                 0
waterpoint_type              0
waterpoint_type_group        0
status_group                 0
dtype: int64

In [18]:
Train[['longitude','latitude']].describe()

          longitude      latitude
count  59400.000000  5.940000e+04
mean      34.077427 -5.706033e+00
std        6.567432  2.946019e+00
min        0.000000 -1.164944e+01
25%       33.090347 -8.540621e+00
50%       34.908743 -5.021597e+00
75%       37.178387 -3.326156e+00
max       40.345193 -2.000000e-08

In [19]:
# Reference: https://worldpopulationreview.com/country-locations/where-is-tanzania    
# Range of Most Extreme Points in Every Direction of Tanzania
# latitude :  00Â°59' - 11Â°45â€² -> should be negative due South Lat  -> -0.59  ~ - 11.45
# longitude:  29Â°10' -  40Â°29â€² East
long_lat_error =Train[((Train['longitude'] < 29.10)  | (Train['longitude'] > 40.29)) | ((Train['latitude'] < -11.45)  | (Train['latitude'] > -0.59))] 
long_lat_error

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,...,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group,status_group
21,6091,0.0,2013-02-10,Dwsp,0,DWE,0.000000,-2.000000e-08,Muungano,0,...,unknown,unknown,unknown,unknown,shallow well,shallow well,groundwater,hand pump,hand pump,functional
53,32376,0.0,2011-08-01,Government Of Tanzania,0,Government,0.000000,-2.000000e-08,Polisi,0,...,unknown,unknown,dry,dry,machine dbh,borehole,groundwater,communal standpipe multiple,communal standpipe,non functional
168,72678,0.0,2013-01-30,Wvt,0,WVT,0.000000,-2.000000e-08,Wvt Tanzania,0,...,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe,functional
177,56725,0.0,2013-01-17,Netherlands,0,DWE,0.000000,-2.000000e-08,Kikundi Cha Wakina Mama,0,...,soft,good,enough,enough,shallow well,shallow well,groundwater,other,other,non functional
253,13042,0.0,2012-10-29,Hesawa,0,DWE,0.000000,-2.000000e-08,Kwakisusi,0,...,soft,good,insufficient,insufficient,shallow well,shallow well,groundwater,hand pump,hand pump,functional needs repair
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59208,3631,0.0,2013-01-22,Dwsp,0,DWE,0.000000,-2.000000e-08,Mtakuja,0,...,soft,good,enough,enough,shallow well,shallow well,groundwater,hand pump,hand pump,functional
59295,60843,0.0,2011-07-19,Rwssp,0,DWE,0.000000,-2.000000e-08,Maendeleo,0,...,soft,good,enough,enough,shallow well,shallow well,groundwater,hand pump,hand pump,functional needs repair
59322,44114,6000.0,2013-02-14,Unicef,532,UNICEF,36.985457,-1.146723e+01,Misepelo,0,...,soft,good,enough,enough,machine dbh,borehole,groundwater,hand pump,hand pump,functional needs repair
59324,748,0.0,2013-01-22,World Vision,0,World Vision,0.000000,-2.000000e-08,Mwazwilo,0,...,soft,good,enough,enough,shallow well,shallow well,groundwater,hand pump,hand pump,functional
59374,49651,0.0,2012-10-29,Rwssp,0,DWE,0.000000,-2.000000e-08,Nguvu Kazi,0,...,soft,good,enough,enough,shallow well,shallow well,groundwater,hand pump,hand pump,functional

In [20]:
# Correct long_lat_error using mean long & lat
long_mean = Train[(Train['longitude'] >= 29.10)  | (Train['longitude'] <= 40.29)]['longitude'].mean()
lat_mean = Train[(Train['latitude'] >= -11.45)  | (Train['latitude'] <= -0.59)]['latitude'].mean()
#long_mean: 34.077426692028794
#lat_mean: -5.706032659626431

In [21]:
Train['longitude'] = np.where(((Train.longitude <29.10 ) | (Train.longitude > 40.29)),long_mean,Train.longitude)
Train['latitude'] = np.where(((Train.latitude < -11.45) | (Train.latitude > -0.59)),lat_mean,Train.latitude)

In [22]:
# Test long_lat_error -> should be zero instance 
long_lat_error =Train[((Train['longitude'] < 29.10)  | (Train['longitude'] > 40.29)) | ((Train['latitude'] < -11.45)  | (Train['latitude'] > -0.59))] 
long_lat_error # zero instance
Train[['longitude','latitude']].describe()

          longitude      latitude
count  59400.000000  59400.000000
mean      35.114020     -5.871996
std        2.571584      2.758860
min       29.607122    -11.449849
25%       33.354079     -8.524319
50%       34.905440     -5.440285
75%       37.173618     -3.398151
max       40.287471     -0.998464

In [26]:
df = Train.pivot_table('id','region','region_code',aggfunc='count').fillna(0).astype(int)
df

region_code,2,3,4,6,7,8,9,10,11,12,...,15,16,17,19,20,21,40,60,90,99
region,,,,,,,,,,,,,,,,,,,,,
Arusha,3350,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Dar es Salaam,0,0,0,0,805,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Dodoma,0,0,0,0,0,2201,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Iringa,0,0,0,0,0,0,0,0,5294,0,...,0,0,0,0,0,0,0,0,0,0
Kagera,0,0,0,0,0,3316,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Kigoma,0,0,0,0,0,0,0,0,0,0,...,0,2816,0,0,0,0,0,0,0,0
Kilimanjaro,0,4379,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Lindi,0,0,0,0,0,1546,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Manyara,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1583,0,0,0,0
Mara,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1969,0,0,0,0,0
Mbeya,0,0,0,0,0,0,0,0,0,4639,...,0,0,0,0,0,0,0,0,0,0
Morogoro,0,0,4006,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Mtwara,0,0,0,0,0,0,390,0,0,0,...,0,0,0,0,0,0,0,0,917,423
Mwanza,0,0,0,0,0,0,0,0,0,0,...,0,0,55,3047,0,0,0,0,0,0
Pwani,0,0,0,1609,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1025,0,0
Rukwa,0,0,0,0,0,0,0,0,0,0,...,1808,0,0,0,0,0,0,0,0,0
Ruvuma,0,0,0,0,0,0,0,2640,0,0,...,0,0,0,0,0,0,0,0,0,0
Shinyanga,0,0,0,0,0,0,0,0,6,0,...,0,0,4956,0,0,0,0,0,0,0
Singida,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Tabora,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Tanga,0,0,2547,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [2]:
#Standerdize region code with region
df = Train.pivot_table('id','region','region_code',aggfunc='count').fillna(0).astype(int)
df.to_csv('region_error.csv')
Train.loc[Train['region_code'] == 24,'region_code'] = 2
Train.loc[(Train['region_code'] == 18 )| (Train['region_code'] == 80),'region_code' ] = 8
Train.loc[(Train['region_code'] == 90 )| (Train['region_code'] == 99),'region_code' ] = 9
Train.loc[(Train['region_code'] == 17) & (Train['region'] == 'Mwanza'),'region_code'] = 19
Train.loc[(Train['region_code'] == 60 )| (Train['region_code'] == 40),'region_code'] = 6
Train.loc[Train['region_code'] == 5 ,'region_code' ] = 4
Train.loc[(Train['region_code'] == 11) & (Train['region'] == 'Shinyanga'),'region_code'] = 17
Train.loc[(Train['region_code'] == 14 )& (Train['region'] == 'Shinyanga'),'region_code'] = 17

df = Train.pivot_table('id','region','region_code',aggfunc='count').fillna(0).astype(int)
df

region_code,1,2,3,4,6,7,8,9,10,11,12,13,14,15,16,17,19,20,21
region,,,,,,,,,,,,,,,,,,,
Arusha,0,3350,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
Dar es Salaam,0,0,0,0,0,805,0,0,0,0,0,0,0,0,0,0,0,0,0
Dodoma,2201,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
Iringa,0,0,0,0,0,0,0,0,0,5294,0,0,0,0,0,0,0,0,0
Kagera,0,0,0,0,0,0,3316,0,0,0,0,0,0,0,0,0,0,0,0
Kigoma,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2816,0,0,0,0
Kilimanjaro,0,0,4379,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
Lindi,0,0,0,0,0,0,1546,0,0,0,0,0,0,0,0,0,0,0,0
Manyara,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1583
Mara,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1969,0
Mbeya,0,0,0,0,0,0,0,0,0,0,4639,0,0,0,0,0,0,0,0
Morogoro,0,0,0,4006,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
Mtwara,0,0,0,0,0,0,0,1730,0,0,0,0,0,0,0,0,0,0,0
Mwanza,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,3102,0,0
Pwani,0,0,0,0,2635,0,0,0,0,0,0,0,0,0,0,0,0,0,0
Rukwa,0,0,0,0,0,0,0,0,0,0,0,0,0,1808,0,0,0,0,0
Ruvuma,0,0,0,0,0,0,0,0,2640,0,0,0,0,0,0,0,0,0,0
Shinyanga,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,4982,0,0,0
Singida,0,0,0,0,0,0,0,0,0,0,0,2093,0,0,0,0,0,0,0
Tabora,0,0,0,0,0,0,0,0,0,0,0,0,1959,0,0,0,0,0,0
Tanga,0,0,0,2547,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [6]:
Train['district_code'].value_counts()

1     12203
2     11173
3      9998
4      8999
5      4356
6      4074
7      3343
8      1043
30      995
33      874
53      745
43      505
13      391
23      293
63      195
62      109
60       63
0        23
80       12
67        6
Name: district_code, dtype: int64

In [10]:
df_district = Train.pivot_table('id','region','district_code',aggfunc='count').fillna(0).astype(int)
# district_code with 0 -> error   
df_district

district_code,0,1,2,3,4,5,6,7,8,13,23,30,33,43,53,60,62,63,67,80
region,,,,,,,,,,,,,,,,,,,,
Arusha,0,189,1206,109,0,201,310,1009,0,0,0,326,0,0,0,0,0,0,0,0
Dar es Salaam,0,93,497,215,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
Dodoma,23,888,0,361,347,358,224,0,0,0,0,0,0,0,0,0,0,0,0,0
Iringa,0,728,530,650,2473,564,0,349,0,0,0,0,0,0,0,0,0,0,0,0
Kagera,0,771,487,402,403,0,88,260,236,0,0,669,0,0,0,0,0,0,0,0
Kigoma,0,874,1159,727,56,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
Kilimanjaro,0,595,519,877,1225,620,109,434,0,0,0,0,0,0,0,0,0,0,0,0
Lindi,0,1,7,300,0,0,0,0,0,391,293,0,0,154,291,0,109,0,0,0
Manyara,0,550,274,297,276,186,0,0,0,0,0,0,0,0,0,0,0,0,0,0
Mara,0,171,716,396,438,0,248,0,0,0,0,0,0,0,0,0,0,0,0,0
Mbeya,0,298,500,871,1106,204,1034,626,0,0,0,0,0,0,0,0,0,0,0,0
Morogoro,0,1094,521,997,627,96,671,0,0,0,0,0,0,0,0,0,0,0,0,0
Mtwara,0,423,0,0,266,124,0,0,0,0,0,0,759,0,0,0,0,158,0,0
Mwanza,0,396,739,69,599,332,488,347,132,0,0,0,0,0,0,0,0,0,0,0
Pwani,0,984,301,108,190,0,26,0,0,0,0,0,115,351,454,63,0,37,6,0
Rukwa,0,679,521,428,180,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
Ruvuma,0,423,652,750,121,694,0,0,0,0,0,0,0,0,0,0,0,0,0,0
Shinyanga,0,1196,802,1404,23,514,453,191,387,0,0,0,0,0,0,0,0,0,0,12
Singida,0,544,995,377,177,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
Tabora,0,574,339,337,382,170,157,0,0,0,0,0,0,0,0,0,0,0,0,0
Tanga,0,732,408,323,110,293,266,127,288,0,0,0,0,0,0,0,0,0,0,0

In [11]:
Train.loc[Train['district_code'] == 0,'district_code'] = 1
df_district = Train.pivot_table('id','region','district_code',aggfunc='count').fillna(0).astype(int) 
df_district

district_code,1,2,3,4,5,6,7,8,13,23,30,33,43,53,60,62,63,67,80
region,,,,,,,,,,,,,,,,,,,
Arusha,189,1206,109,0,201,310,1009,0,0,0,326,0,0,0,0,0,0,0,0
Dar es Salaam,93,497,215,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
Dodoma,911,0,361,347,358,224,0,0,0,0,0,0,0,0,0,0,0,0,0
Iringa,728,530,650,2473,564,0,349,0,0,0,0,0,0,0,0,0,0,0,0
Kagera,771,487,402,403,0,88,260,236,0,0,669,0,0,0,0,0,0,0,0
Kigoma,874,1159,727,56,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
Kilimanjaro,595,519,877,1225,620,109,434,0,0,0,0,0,0,0,0,0,0,0,0
Lindi,1,7,300,0,0,0,0,0,391,293,0,0,154,291,0,109,0,0,0
Manyara,550,274,297,276,186,0,0,0,0,0,0,0,0,0,0,0,0,0,0
Mara,171,716,396,438,0,248,0,0,0,0,0,0,0,0,0,0,0,0,0
Mbeya,298,500,871,1106,204,1034,626,0,0,0,0,0,0,0,0,0,0,0,0
Morogoro,1094,521,997,627,96,671,0,0,0,0,0,0,0,0,0,0,0,0,0
Mtwara,423,0,0,266,124,0,0,0,0,0,0,759,0,0,0,0,158,0,0
Mwanza,396,739,69,599,332,488,347,132,0,0,0,0,0,0,0,0,0,0,0
Pwani,984,301,108,190,0,26,0,0,0,0,0,115,351,454,63,0,37,6,0
Rukwa,679,521,428,180,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
Ruvuma,423,652,750,121,694,0,0,0,0,0,0,0,0,0,0,0,0,0,0
Shinyanga,1196,802,1404,23,514,453,191,387,0,0,0,0,0,0,0,0,0,0,12
Singida,544,995,377,177,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
Tabora,574,339,337,382,170,157,0,0,0,0,0,0,0,0,0,0,0,0,0
Tanga,732,408,323,110,293,266,127,288,0,0,0,0,0,0,0,0,0,0,0

In [54]:
Train['region'].value_counts()

Iringa           5294
Shinyanga        4982
Mbeya            4639
Kilimanjaro      4379
Morogoro         4006
Arusha           3350
Kagera           3316
Mwanza           3102
Kigoma           2816
Ruvuma           2640
Pwani            2635
Tanga            2547
Dodoma           2201
Singida          2093
Mara             1969
Tabora           1959
Rukwa            1808
Mtwara           1730
Manyara          1583
Lindi            1546
Dar es Salaam     805
Name: region, dtype: int64

In [13]:
Train['population'].describe()

count    59400.000000
mean       179.909983
std        471.482176
min          0.000000
25%          0.000000
50%         25.000000
75%        215.000000
max      30500.000000
Name: population, dtype: float64

In [29]:
# Function to set up # of category for features
test_cat = 8
def max_cat(col):
    if len(Train[col].value_counts()) > (test_cat):
        top_value = Train[col].value_counts()[:(test_cat)].index.tolist()
        #Train.loc[-Train.region.isin(top_value),'region']='Others'
        Train.loc[-Train[col].isin(top_value),col]='Others'
                
    return Train

In [30]:
max_cat('region')
Train[Train['region'] =='Others']

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,...,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group,status_group
1,8776,0.0,2013-03-06,Grumeti,1399,GRUMETI,34.698766,-2.147466,Zahanati,0,...,soft,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe,functional
2,34310,25.0,2013-02-25,Lottery Club,686,World vision,37.460664,-3.821329,Kwa Mahundi,0,...,soft,good,enough,enough,dam,dam,surface,communal standpipe multiple,communal standpipe,functional
3,67743,0.0,2013-01-28,Unicef,263,UNICEF,38.486161,-11.155298,Zahanati Ya Nanyumbu,0,...,soft,good,dry,dry,machine dbh,borehole,groundwater,communal standpipe multiple,communal standpipe,non functional
5,9944,20.0,2011-03-13,Mkinga Distric Coun,0,DWE,39.172796,-4.765587,Tajiri,0,...,salty,salty,enough,enough,other,other,unknown,communal standpipe multiple,communal standpipe,functional
8,53934,0.0,2012-11-03,Wateraid,0,Water Aid,32.711100,-5.146712,Kwa Ramadhan Musa,0,...,salty,salty,seasonal,seasonal,machine dbh,borehole,groundwater,hand pump,hand pump,non functional
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59388,72559,0.0,2013-01-29,Kidep,1414,DWE,30.692400,-3.593827,Kwa Philipo Kibeba,0,...,soft,good,insufficient,insufficient,spring,spring,groundwater,improved spring,improved spring,functional
59389,30410,0.0,2011-08-06,Co,783,DWE,30.646486,-7.365418,Sekondari,0,...,soft,good,enough,enough,machine dbh,borehole,groundwater,hand pump,hand pump,functional
59390,13677,0.0,2011-08-04,Rudep,1715,DWE,31.370848,-8.258160,Kwa Mzee Atanas,0,...,soft,good,insufficient,insufficient,machine dbh,borehole,groundwater,hand pump,hand pump,functional
59393,48348,0.0,2012-10-27,Private,0,Private,33.866852,-4.287410,Kwa Peter,0,...,soft,good,insufficient,insufficient,dam,dam,surface,other,other,functional
59398,31282,0.0,2011-03-08,Malec,0,Musa,35.861315,-6.378573,Mshoro,0,...,soft,good,insufficient,insufficient,shallow well,shallow well,groundwater,hand pump,hand pump,functional

In [6]:
Train['region_code'].value_counts()

11    5300
17    5011
12    4639
3     4379
5     4040
2     3350
18    3324
19    3047
16    2816
10    2640
4     2513
1     2201
13    2093
14    1979
20    1969
15    1808
6     1609
21    1583
80    1238
60    1025
90     917
7      805
99     423
9      390
8      300
40       1
Name: region_code, dtype: int64

In [32]:
Train['district_code'].value_counts()
#region_codeÂ 
#district_codeÂ 
#lgaÂ 
#wardÂ 
#populationÂ

1     12203
2     11173
3      9998
4      8999
5      4356
6      4074
7      3343
8      1043
30      995
33      874
53      745
43      505
13      391
23      293
63      195
62      109
60       63
0        23
80       12
67        6
Name: district_code, dtype: int64