In [3]:

import pandas as pd
import io

df = pd.read_excel("/Users/dhui/Downloads/Test set values.xlsx",engine='openpyxl')
pd.options.display.max_columns = None

In [4]:
#Change all unknown permit to false
df['permit'].replace(['Unknown'],'False')

0        1.0
1        1.0
2        NaN
3        1.0
4        1.0
        ...
14845    1.0
14846    0.0
14847    NaN
14848    1.0
14849    1.0
Name: permit, Length: 14850, dtype: float64

In [5]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [11]:
#Only want to cluster on a few of these
sdf = df.drop(columns=['amount_tsh','date_recorded','longitude','latitude','recorded_by','construction_year','extraction_type_group','extraction_type_class','management_group','payment_type','quantity_group','source_type','source_class','waterpoint_type_group','num_private'])

def get_col_names(sdf):
  n_features = sdf.shape[1]

  cat_col_names = list(sdf.select_dtypes(include=np.object).columns)
  num_col_names = list(sdf.select_dtypes(include=np.number).columns)

  print('cat_col_names: {}'.format(cat_col_names))
  print('num_col_names: {}'.format(num_col_names))
  return cat_col_names,num_col_names

cat_col_names,num_col_names = get_col_names(sdf)

good_columns = cat_col_names + num_col_names

sdf = sdf[good_columns]

for x in cat_col_names:
    sdf[x].fillna('other',inplace=True)
    sdf[x]=sdf[x].astype(str)
    

for y in num_col_names:
    sdf[y].fillna(0,inplace=True)

cat_col_names: ['funder', 'installer', 'wpt_name', 'basin', 'subvillage', 'region', 'lga', 'ward', 'scheme_management', 'scheme_name', 'extraction_type', 'management', 'payment', 'water_quality', 'quality_group', 'quantity', 'source', 'waterpoint_type']
num_col_names: ['id', 'gps_height', 'region_code', 'district_code', 'population', 'public_meeting', 'permit']

In [206]:
part_1 = sdf.sample(frac = 0.5, random_state=42)
part_2 = sdf.drop(part_1.index)

In [207]:
X1 = part_1.to_numpy()
X2 = part_2.to_numpy()

In [12]:
sdf

,funder,installer,wpt_name,basin,subvillage,region,lga,ward,scheme_management,scheme_name,extraction_type,management,payment,water_quality,quality_group,quantity,source,waterpoint_type,id,gps_height,region_code,district_code,population,public_meeting,permit
0,Dmdd,DMDD,Dinamu Secondary School,Internal,Magoma,Manyara,Mbulu,Bashay,Parastatal,other,other,parastatal,never pay,soft,good,seasonal,rainwater harvesting,other,50785,1996,21,3,321,1.0,1.0
1,Government Of Tanzania,DWE,Kimnyak,Pangani,Kimnyak,Arusha,Arusha Rural,Kimnyaki,VWC,TPRI pipe line,gravity,vwc,never pay,soft,good,insufficient,spring,communal standpipe,51630,1569,2,2,300,1.0,1.0
2,other,other,Puma Secondary,Internal,Msatu,Singida,Singida Rural,Puma,VWC,P,other,vwc,never pay,soft,good,insufficient,rainwater harvesting,other,17168,1567,13,2,500,1.0,0.0
3,Finn Water,FINN WATER,Kwa Mzee Pange,Ruvuma / Southern Coast,Kipindimbi,Lindi,Liwale,Mkutano,VWC,other,other,vwc,unknown,soft,good,dry,shallow well,other,45559,267,80,43,250,0.0,1.0
4,Bruder,BRUDER,Kwa Mzee Turuka,Ruvuma / Southern Coast,Losonga,Ruvuma,Mbinga,Mbinga Urban,Water Board,BRUDER,gravity,water board,pay monthly,soft,good,enough,spring,communal standpipe,49871,1260,10,3,60,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14845,Danida,Da,Kwambwezi,Wami / Ruvu,Yombo,Pwani,Bagamoyo,Yombo,VWC,Bagamoyo wate,mono,vwc,never pay,soft,good,enough,river,communal standpipe,39307,34,6,1,20,1.0,1.0
14846,Hiap,HIAP,Bonde La Mkondoa,Pangani,Mkondoa,Tanga,Kilindi,Mvungwe,VWC,other,nira/tanira,vwc,pay annually,salty,salty,insufficient,shallow well,hand pump,18990,0,4,7,2960,1.0,0.0
14847,other,other,Bwawani,Internal,Juhudi,Singida,Singida Rural,Ughandi,VWC,other,gravity,vwc,never pay,soft,good,insufficient,dam,communal standpipe,28749,1476,13,2,200,1.0,0.0
14848,Germany,DWE,Kwa John,Lake Nyasa,Namakinga B,Ruvuma,Songea Rural,Maposeni,VWC,Mradi wa maji wa maposeni,gravity,vwc,never pay,soft,good,insufficient,river,communal standpipe,33492,998,10,2,150,1.0,1.0
14849,Government Of Tanzania,Government,Kwa Mzee Chagala,Lake Nyasa,Kamba,Ruvuma,Mbinga,Mbamba bay,VWC,DANIDA,gravity,vwc,never pay,soft,good,dry,spring,communal standpipe,68707,481,10,3,40,1.0,1.0

In [13]:
sdf.describe(include=[np.number]).transpose()

,count,mean,std,min,25%,50%,75%,max
id,14850.0,37161.972929,21359.364833,10.0,18727.0,37361.5,55799.75,74249.0
gps_height,14850.0,655.147609,691.261185,-57.0,0.0,344.0,1308.00,2777.0
region_code,14850.0,15.139057,17.191329,1.0,5.0,12.0,17.00,99.0
district_code,14850.0,5.626397,9.673842,0.0,2.0,3.0,5.00,80.0
population,14850.0,184.114209,469.499332,0.0,0.0,20.0,220.00,11469.0
public_meeting,14850.0,0.857778,0.349290,0.0,1.0,1.0,1.00,1.0
permit,14850.0,0.656835,0.474782,0.0,0.0,1.0,1.00,1.0

In [14]:
sdf.describe(include=[np.object]).transpose()

                   count unique                     top   freq
funder             14850    981  Government Of Tanzania   2215
installer          14850   1092                     DWE   4349
wpt_name           14850  10840                    none    877
basin              14850      9           Lake Victoria   2623
subvillage         14850   8444                 Shuleni    140
region             14850     21               Shinyanga   1311
lga                14850    125                  Njombe    625
ward               14850   1959                   Igosi     79
scheme_management  14850     12                     VWC   9124
scheme_name        14850   1790                   other   7092
extraction_type    14850     17                 gravity   6483
management         14850     12                     vwc  10117
payment            14850      7               never pay   6364
water_quality      14850      8                    soft  12687
quality_group      14850      6                    good  12687
quantity           14850      5                  enough   8336
source             14850     10            shallow well   4316
waterpoint_type    14850      7      communal standpipe   7106

In [16]:
from sklearn.preprocessing import StandardScaler

def scale_values(sdf, num_col_names, cat_col_names):
  X_num = sdf[num_col_names].to_numpy()
  X_cat = sdf[cat_col_names].to_numpy()

  # Be sure to scale all numeric features
  scaler = StandardScaler()
  X_num = scaler.fit_transform(X_num)

  X = np.concatenate((X_num, X_cat), axis=1)
  return X

#X1 = scale_values(part_1, num_col_names, cat_col_names)
#X2 = scale_values(part_2, num_col_names, cat_col_names)
X3 = scale_values(sdf,num_col_names, cat_col_names)

In [221]:
from scipy.spatial import distance


def _validate_vector(u, dtype=None):
    # XXX Is order='c' really necessary?
    u = np.asarray(u, dtype=dtype, order='c').squeeze()
    # Ensure values such as u=1 and u=[1] still return 1-D arrays.
    u = np.atleast_1d(u)
    if u.ndim > 1:
        raise ValueError("Input vector should be 1-D.")
    return u


def danny_dist(u, v, p=2, w=None):
  
  u = _validate_vector(u)
  v = _validate_vector(v)
  if p < 1:
      raise ValueError("p must be at least 1")
  print(u)
  print(v)
  u_v = u - v
  if w is not None:
      w = _validate_weights(w)
      if p == 1:
          root_w = w
      if p == 2:
          # better precision and speed
          root_w = np.sqrt(w)
      else:
          root_w = np.power(w, 1/p)
      u_v = root_w * u_v
  dist = norm(u_v, ord=p)
  return dist


def custom_dist(x1,x2,cat_cols=None,num_cols=None):
  n = len(x1)
  #print(num_cols)
  #dist_num = danny_dist(x1[num_cols],x2[num_cols])
  dist_num = distance.euclidean(x1[num_cols],x2[num_cols])
  dist_cat = distance.hamming(x1[cat_cols],x2[cat_cols])
  dist=(dist_num*sum(num_cols) + dist_cat*sum(cat_cols)) / n
  return dist

In [17]:
from scipy.spatial.distance import pdist


def discover_wrong_values(X):
  cat_cols = [type(x)==str for x in X[1,:]]
  num_cols = [not x for x in cat_cols]

  count=-1
  errors = []
  cat_value=[]
  cat_count=-1
  for y in cat_cols:
    if(y == True):
      cat_value.append(cat_count)
    cat_count+=1


  for x in num_cols:
    count+=1
    if(x == True):
      errors.append(count)
      #print (x, count)
  return errors,cat_value,cat_cols,num_cols

errors,cat_value,cat_cols,num_cols = discover_wrong_values(X3)

In [18]:
#print(sdf.head())
index_col = 0
list_cat_cols = []
for col in sdf.columns:
    print(col,index_col,sdf[col][0])
    list_cat_cols.append(index_col)
    #if(col not in num_col_names):
    #    list_cat_cols.append(index_col)
    index_col+=1
print(list_cat_cols)

funder 0 Dmdd
installer 1 DMDD
wpt_name 2 Dinamu Secondary School
basin 3 Internal
subvillage 4 Magoma
region 5 Manyara
lga 6 Mbulu
ward 7 Bashay
scheme_management 8 Parastatal
scheme_name 9 other
extraction_type 10 other
management 11 parastatal
payment 12 never pay
water_quality 13 soft
quality_group 14 good
quantity 15 seasonal
source 16 rainwater harvesting
waterpoint_type 17 other
id 18 50785
gps_height 19 1996
region_code 20 21
district_code 21 3
population 22 321
public_meeting 23 1.0
permit 24 1.0
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24]

In [19]:
X3[1]

array([0.6773850415237074, 1.3220518969555621, -0.7643097287376379,
       -0.3748789127208279, 0.24683675876841046, 0.40718927884743017,
       0.7228086380573759, 'Government Of Tanzania', 'DWE', 'Kimnyak',
       'Pangani', 'Kimnyak', 'Arusha', 'Arusha Rural', 'Kimnyaki', 'VWC',
       'TPRI pipe line', 'gravity', 'vwc', 'never pay', 'soft', 'good',
       'insufficient', 'spring', 'communal standpipe'], dtype=object)

In [20]:
from kmodes.kprototypes import KPrototypes
kproto = KPrototypes(n_clusters=10, verbose=2, max_iter=20)
clusters = kproto.fit_predict(X3, categorical=[5,6, 7,8,9, 10, 11, 12,13, 14,15,16,17, 18, 19, 20, 21, 22, 23, 24])

Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 1, iteration: 1/20, moves: 6660, ncost: 102527.44543175184
Run: 1, iteration: 2/20, moves: 2830, ncost: 100370.3545672659
Run: 1, iteration: 3/20, moves: 869, ncost: 99860.30599276439
Run: 1, iteration: 4/20, moves: 344, ncost: 99765.67518693133
Run: 1, iteration: 5/20, moves: 198, ncost: 99743.46533804703
Run: 1, iteration: 6/20, moves: 114, ncost: 99735.47397031907
Run: 1, iteration: 7/20, moves: 73, ncost: 99728.10616155904
Run: 1, iteration: 8/20, moves: 68, ncost: 99711.82284726987
Run: 1, iteration: 9/20, moves: 72, ncost: 99703.76254725578
Run: 1, iteration: 10/20, moves: 56, ncost: 99699.33790423025
Run: 1, iteration: 11/20, moves: 32, ncost: 99698.18821040458
Run: 1, iteration: 12/20, moves: 21, ncost: 99697.48215443356
Run: 1, iteration: 13/20, moves: 16, ncost: 99696.84879045529
Run: 1, iteration: 14/20, moves: 20, ncost: 99695.11322057032
Run: 1, iteration: 15/20, moves: 14, ncost: 99694.82951975414
Run: 1, iteration: 16/20, moves: 4, ncost: 99694.787303648
Run: 1, iteration: 17/20, moves: 1, ncost: 99694.7788909816
Run: 1, iteration: 18/20, moves: 2, ncost: 99694.77102498482
Run: 1, iteration: 19/20, moves: 1, ncost: 99694.76990098067
Run: 1, iteration: 20/20, moves: 0, ncost: 99694.76990098067
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 2, iteration: 1/20, moves: 6290, ncost: 101357.18001948806
Run: 2, iteration: 2/20, moves: 1613, ncost: 99501.51430993661
Run: 2, iteration: 3/20, moves: 457, ncost: 99215.45051962919
Run: 2, iteration: 4/20, moves: 154, ncost: 99199.76708644262
Run: 2, iteration: 5/20, moves: 71, ncost: 99196.63344683725
Run: 2, iteration: 6/20, moves: 30, ncost: 99196.33678945957
Run: 2, iteration: 7/20, moves: 17, ncost: 99196.25477649807
Run: 2, iteration: 8/20, moves: 1, ncost: 99196.25277470094
Run: 2, iteration: 9/20, moves: 0, ncost: 99196.25277470094
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 3, iteration: 1/20, moves: 6880, ncost: 106567.48436791998
Run: 3, iteration: 2/20, moves: 2410, ncost: 103270.97408699284
Run: 3, iteration: 3/20, moves: 1274, ncost: 101872.52020978866
Run: 3, iteration: 4/20, moves: 1045, ncost: 101369.46073213589
Run: 3, iteration: 5/20, moves: 930, ncost: 101010.2668060569
Run: 3, iteration: 6/20, moves: 612, ncost: 100901.41189501908
Run: 3, iteration: 7/20, moves: 369, ncost: 100860.0865777285
Run: 3, iteration: 8/20, moves: 320, ncost: 100824.72935459117
Run: 3, iteration: 9/20, moves: 221, ncost: 100793.00869519816
Run: 3, iteration: 10/20, moves: 148, ncost: 100783.5876986323
Run: 3, iteration: 11/20, moves: 95, ncost: 100779.05068189978
Run: 3, iteration: 12/20, moves: 62, ncost: 100777.61020855617
Run: 3, iteration: 13/20, moves: 38, ncost: 100775.51857858601
Run: 3, iteration: 14/20, moves: 44, ncost: 100772.65357593592
Run: 3, iteration: 15/20, moves: 51, ncost: 100766.73604060235
Run: 3, iteration: 16/20, moves: 46, ncost: 100762.03727729378
Run: 3, iteration: 17/20, moves: 52, ncost: 100756.28955385774
Run: 3, iteration: 18/20, moves: 48, ncost: 100749.80988046489
Run: 3, iteration: 19/20, moves: 46, ncost: 100733.99211908726
Run: 3, iteration: 20/20, moves: 61, ncost: 100725.83586573861
Run: 3, iteration: 21/20, moves: 37, ncost: 100720.61912997464
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 4, iteration: 1/20, moves: 6794, ncost: 109330.48612695509
Run: 4, iteration: 2/20, moves: 2463, ncost: 106726.49340504238
Run: 4, iteration: 3/20, moves: 2085, ncost: 103349.39600170362
Run: 4, iteration: 4/20, moves: 1904, ncost: 100957.12754410673
Run: 4, iteration: 5/20, moves: 998, ncost: 100293.3706349826
Run: 4, iteration: 6/20, moves: 511, ncost: 99940.65424301966
Run: 4, iteration: 7/20, moves: 323, ncost: 99826.60370015042
Run: 4, iteration: 8/20, moves: 128, ncost: 99824.57473401798
Run: 4, iteration: 9/20, moves: 30, ncost: 99824.01990751244
Run: 4, iteration: 10/20, moves: 19, ncost: 99823.87022142956
Run: 4, iteration: 11/20, moves: 21, ncost: 99823.67948646782
Run: 4, iteration: 12/20, moves: 64, ncost: 99795.65578883892
Run: 4, iteration: 13/20, moves: 108, ncost: 99791.12236125181
Run: 4, iteration: 14/20, moves: 28, ncost: 99790.97351557687
Run: 4, iteration: 15/20, moves: 13, ncost: 99790.8724231407
Run: 4, iteration: 16/20, moves: 17, ncost: 99790.7225637016
Run: 4, iteration: 17/20, moves: 1, ncost: 99790.72144491223
Run: 4, iteration: 18/20, moves: 0, ncost: 99790.72144491223
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 5, iteration: 1/20, moves: 5488, ncost: 103816.25647311125
Run: 5, iteration: 2/20, moves: 1658, ncost: 101351.11235894347
Run: 5, iteration: 3/20, moves: 430, ncost: 100455.5743750528
Run: 5, iteration: 4/20, moves: 171, ncost: 100272.64434011336
Run: 5, iteration: 5/20, moves: 82, ncost: 100263.30651556133
Run: 5, iteration: 6/20, moves: 25, ncost: 100262.21118950615
Run: 5, iteration: 7/20, moves: 12, ncost: 100262.18269594082
Run: 5, iteration: 8/20, moves: 2, ncost: 100262.177533912
Run: 5, iteration: 9/20, moves: 1, ncost: 100262.17410196198
Run: 5, iteration: 10/20, moves: 0, ncost: 100262.17410196198
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 6, iteration: 1/20, moves: 4610, ncost: 101778.94083663207
Run: 6, iteration: 2/20, moves: 1302, ncost: 101504.79939335657
Run: 6, iteration: 3/20, moves: 720, ncost: 101254.9991774628
Run: 6, iteration: 4/20, moves: 803, ncost: 101033.46840085044
Run: 6, iteration: 5/20, moves: 394, ncost: 100919.11425003118
Run: 6, iteration: 6/20, moves: 333, ncost: 100706.6716543153
Run: 6, iteration: 7/20, moves: 257, ncost: 100604.04195847541
Run: 6, iteration: 8/20, moves: 108, ncost: 100597.94077196643
Run: 6, iteration: 9/20, moves: 71, ncost: 100590.04781659902
Run: 6, iteration: 10/20, moves: 34, ncost: 100589.0407899013
Run: 6, iteration: 11/20, moves: 9, ncost: 100588.97286901118
Run: 6, iteration: 12/20, moves: 5, ncost: 100588.96878008483
Run: 6, iteration: 13/20, moves: 0, ncost: 100588.96878008483
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 7, iteration: 1/20, moves: 3890, ncost: 101768.78261318358
Run: 7, iteration: 2/20, moves: 1469, ncost: 101189.16699195401
Run: 7, iteration: 3/20, moves: 635, ncost: 101003.71283233941
Run: 7, iteration: 4/20, moves: 419, ncost: 100916.48328958974
Run: 7, iteration: 5/20, moves: 353, ncost: 100851.00619136315
Run: 7, iteration: 6/20, moves: 324, ncost: 100801.23678913928
Run: 7, iteration: 7/20, moves: 224, ncost: 100751.74691512751
Run: 7, iteration: 8/20, moves: 177, ncost: 100701.75423487017
Run: 7, iteration: 9/20, moves: 191, ncost: 100676.94029572948
Run: 7, iteration: 10/20, moves: 130, ncost: 100663.60119771975
Run: 7, iteration: 11/20, moves: 92, ncost: 100650.74543175343
Run: 7, iteration: 12/20, moves: 117, ncost: 100633.6211351354
Run: 7, iteration: 13/20, moves: 110, ncost: 100615.56599776576
Run: 7, iteration: 14/20, moves: 122, ncost: 100601.05580604533
Run: 7, iteration: 15/20, moves: 69, ncost: 100600.20925990492
Run: 7, iteration: 16/20, moves: 44, ncost: 100599.68155659635
Run: 7, iteration: 17/20, moves: 32, ncost: 100599.31051292749
Run: 7, iteration: 18/20, moves: 52, ncost: 100598.24584280404
Run: 7, iteration: 19/20, moves: 34, ncost: 100597.82548294576
Run: 7, iteration: 20/20, moves: 12, ncost: 100597.75918833642
Run: 7, iteration: 21/20, moves: 4, ncost: 100597.7468644582
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 8, iteration: 1/20, moves: 6116, ncost: 107414.36713314841
Run: 8, iteration: 2/20, moves: 2654, ncost: 104048.91010401532
Run: 8, iteration: 3/20, moves: 1202, ncost: 101919.97916008218
Run: 8, iteration: 4/20, moves: 603, ncost: 101388.27977958854
Run: 8, iteration: 5/20, moves: 396, ncost: 101275.05189003597
Run: 8, iteration: 6/20, moves: 323, ncost: 101185.01829236244
Run: 8, iteration: 7/20, moves: 334, ncost: 101064.73816233805

Run: 8, iteration: 8/20, moves: 578, ncost: 100960.7928104995
Run: 8, iteration: 9/20, moves: 395, ncost: 100910.11789569113
Run: 8, iteration: 10/20, moves: 292, ncost: 100860.03284064107
Run: 8, iteration: 11/20, moves: 226, ncost: 100830.751394378
Run: 8, iteration: 12/20, moves: 188, ncost: 100812.13174387591
Run: 8, iteration: 13/20, moves: 153, ncost: 100800.00010046364
Run: 8, iteration: 14/20, moves: 131, ncost: 100782.5089908092
Run: 8, iteration: 15/20, moves: 103, ncost: 100770.67367648675
Run: 8, iteration: 16/20, moves: 85, ncost: 100763.68865146759
Run: 8, iteration: 17/20, moves: 67, ncost: 100760.49197913325
Run: 8, iteration: 18/20, moves: 87, ncost: 100743.72437995342
Run: 8, iteration: 19/20, moves: 36, ncost: 100743.16342263593
Run: 8, iteration: 20/20, moves: 23, ncost: 100742.96465668804
Run: 8, iteration: 21/20, moves: 18, ncost: 100742.89531537809
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 9, iteration: 1/20, moves: 4903, ncost: 102176.03270426183
Run: 9, iteration: 2/20, moves: 2977, ncost: 100188.61784233575
Run: 9, iteration: 3/20, moves: 1417, ncost: 99604.14863651556
Run: 9, iteration: 4/20, moves: 730, ncost: 99439.07796252728
Run: 9, iteration: 5/20, moves: 290, ncost: 99389.4722481102
Run: 9, iteration: 6/20, moves: 182, ncost: 99358.88565094907
Run: 9, iteration: 7/20, moves: 122, ncost: 99323.8103737326
Run: 9, iteration: 8/20, moves: 125, ncost: 99296.70412580931
Run: 9, iteration: 9/20, moves: 97, ncost: 99261.7210883822
Run: 9, iteration: 10/20, moves: 90, ncost: 99198.57510548714
Run: 9, iteration: 11/20, moves: 76, ncost: 99176.69511205377
Run: 9, iteration: 12/20, moves: 57, ncost: 99173.03667767547
Run: 9, iteration: 13/20, moves: 34, ncost: 99172.08028057158
Run: 9, iteration: 14/20, moves: 29, ncost: 99171.29214770567
Run: 9, iteration: 15/20, moves: 23, ncost: 99170.79960529295
Run: 9, iteration: 16/20, moves: 36, ncost: 99166.76844625217
Run: 9, iteration: 17/20, moves: 55, ncost: 99164.18649219003
Run: 9, iteration: 18/20, moves: 45, ncost: 99162.6110537892
Run: 9, iteration: 19/20, moves: 41, ncost: 99161.81136956587
Run: 9, iteration: 20/20, moves: 29, ncost: 99160.78587770992
Run: 9, iteration: 21/20, moves: 20, ncost: 99159.92884756326
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 10, iteration: 1/20, moves: 6400, ncost: 102353.53013567376
Run: 10, iteration: 2/20, moves: 1884, ncost: 100403.76710235896
Run: 10, iteration: 3/20, moves: 706, ncost: 100290.76206867266
Run: 10, iteration: 4/20, moves: 277, ncost: 100216.07617875977
Run: 10, iteration: 5/20, moves: 207, ncost: 100119.4346306313
Run: 10, iteration: 6/20, moves: 280, ncost: 100061.89224624027
Run: 10, iteration: 7/20, moves: 264, ncost: 99988.4212796372
Run: 10, iteration: 8/20, moves: 445, ncost: 99672.14404945768
Run: 10, iteration: 9/20, moves: 355, ncost: 99557.6261448912
Run: 10, iteration: 10/20, moves: 327, ncost: 99408.7310004619
Run: 10, iteration: 11/20, moves: 209, ncost: 99322.90484096264
Run: 10, iteration: 12/20, moves: 147, ncost: 99301.3671332216
Run: 10, iteration: 13/20, moves: 63, ncost: 99286.51999738507
Run: 10, iteration: 14/20, moves: 91, ncost: 99225.70290657271
Run: 10, iteration: 15/20, moves: 63, ncost: 99214.65139150445
Run: 10, iteration: 16/20, moves: 46, ncost: 99209.61648437266
Run: 10, iteration: 17/20, moves: 14, ncost: 99209.19797300805
Run: 10, iteration: 18/20, moves: 3, ncost: 99209.1803131324
Run: 10, iteration: 19/20, moves: 0, ncost: 99209.1803131324
Best run was number 9

In [ ]:

#num_cols = [(not x and type(x) == int) for x in cat_cols]

#Need to remove the num columns that are causing issues
num_cols[13] = False
num_cols[15] = False
num_cols[16] = False
#print(num_cols)

#Y1 = pdist(X1, custom_dist, cat_cols=cat_cols, num_cols=num_cols)

In [ ]:
#Y2 = pdist(X2, custom_dist, cat_cols=cat_cols, num_cols=num_cols)

In [21]:
len(clusters)

14850

In [22]:
df['clusters']=clusters

In [23]:
def replace_with_min_year (df, cluster_count, cluster_colname):
  for i in range(cluster_count):
    current_cluster = df[df[cluster_colname] == i]
    current_cluster_with_construction_year = current_cluster[current_cluster['construction_year'] > 0]
    if len(current_cluster_with_construction_year) > 0:
      min_year = current_cluster_with_construction_year['construction_year'].min()
      df.loc[(df[cluster_colname] == i) & (df['construction_year'] == 0), 'construction_year'] = min_year
    else:
      print('no year in this cluster', i)
      #return 1


replace_with_min_year(df,10,'clusters')

In [24]:
df['construction_year'].describe()

count    14850.000000
mean      1984.224781
std         20.133599
min       1960.000000
25%       1960.000000
50%       1986.000000
75%       2004.000000
max       2013.000000
Name: construction_year, dtype: float64

In [267]:
df.to_csv('test_construct_years.csv', encoding='utf-8', index=False)

In [266]:
df.head()

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,basin,subvillage,region,region_code,district_code,lga,ward,population,public_meeting,recorded_by,scheme_management,scheme_name,permit,construction_year,extraction_type,extraction_type_group,extraction_type_class,management,management_group,payment,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group,status_group,clusters
0,69572,6000.0,2011-03-14,Roman,1390,Roman,34.938093,-9.856322,none,0,Lake Nyasa,Mnyusi B,Iringa,11,5,Ludewa,Mundindi,109,True,GeoData Consultants Ltd,VWC,Roman,False,1999,gravity,gravity,gravity,vwc,user-group,pay annually,annually,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe,functional,1
1,8776,0.0,2013-03-06,Grumeti,1399,GRUMETI,34.698766,-2.147466,Zahanati,0,Lake Victoria,Nyamara,Mara,20,2,Serengeti,Natta,280,NaN,GeoData Consultants Ltd,Other,NaN,True,2010,gravity,gravity,gravity,wug,user-group,never pay,never pay,soft,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe,functional,6
2,34310,25.0,2013-02-25,Lottery Club,686,World vision,37.460664,-3.821329,Kwa Mahundi,0,Pangani,Majengo,Manyara,21,4,Simanjiro,Ngorika,250,True,GeoData Consultants Ltd,VWC,Nyumba ya mungu pipe scheme,True,2009,gravity,gravity,gravity,vwc,user-group,pay per bucket,per bucket,soft,good,enough,enough,dam,dam,surface,communal standpipe multiple,communal standpipe,functional,6
3,67743,0.0,2013-01-28,Unicef,263,UNICEF,38.486161,-11.155298,Zahanati Ya Nanyumbu,0,Ruvuma / Southern Coast,Mahakamani,Mtwara,90,63,Nanyumbu,Nanyumbu,58,True,GeoData Consultants Ltd,VWC,NaN,True,1986,submersible,submersible,submersible,vwc,user-group,never pay,never pay,soft,good,dry,dry,machine dbh,borehole,groundwater,communal standpipe multiple,communal standpipe,non functional,3
4,19728,0.0,2011-07-13,Action In A,0,Artisan,31.130847,-1.825359,Shuleni,0,Lake Victoria,Kyanyamisa,Kagera,18,1,Karagwe,Nyakasimbi,0,True,GeoData Consultants Ltd,NaN,NaN,True,1960,gravity,gravity,gravity,other,other,never pay,never pay,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe,functional,0